body{
  font-family: Arial, Helvetica, sans-serif  !important;
  min-height: 100vh;
}

.content-container {
  height: 100vh;
  transition: 0.4s;
  padding-top: 53px;
  overflow-x: hidden;
}




.container {
  padding: 1rem 0rem;
}

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 400px;

    .modal-content {
      padding: 1rem;
    }
  }
}

.modal-header {
  .close {
    margin-top: -1.5rem;
  }
}

.form-title {
  margin: -2rem 0rem 2rem;
}

.btn-round {
  border-radius: 3rem;
}

.delimiter {
  padding: 1rem;
}

.social-buttons {
  .btn {
    margin: 0 0.5rem 1rem;
  }
}

.signup-section {
  padding: 0.3rem 0rem;
}

.form-inline {
  padding-left: 1rem;
}

.custom-file-input:hover{
  cursor: pointer; 
}