.signup-form {
    background: #fff;
    border-radius: 2px;
    width: 50rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.login-form {
    background: #fff;
    border-radius: 2px;
    width: 50rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.legend-header {
    font-family: montserrat, sans-serif;
    color: #040f3c;
    font-weight: bold;
}

.form-control {
    border-radius: 0.1rem !important;
}

.signup-form .input-register-group select,
.signup-form .input-register-group input {
    border: 1px solid transparent;
    border-bottom: 1px solid #ccc;
    color: #000;
    font-size: 1.25rem;
    background: 0 0;
    outline: none;
}

.signup-form .input-register-group select:focus,
.signup-form .input-register-group input:focus {
    border: 1px solid transparent;
    border-bottom: 1px solid #999;
    color: #000;
    background: 0 0;
    outline: none;
    box-shadow: 0 0 0 0;
}

.signup-form label,
.login-form label {
    margin: 0;
}

.signup-form .form-group .form-group {
    margin-bottom: 1.5rem;
}

.login-form .input-login-group select,
.login-form .input-login-group input {
    border: 1px solid transparent;
    border-bottom: 1px solid #ccc;
    color: #000;
    font-size: 1.25rem;
    background: 0 0;
    outline: none;
}

.login-form .input-login-group select:focus,
.login-form .input-login-group input:focus {
    border: 1px solid transparent;
    border-bottom: 1px solid #999;
    color: #000;
    background: 0 0;
    outline: none;
    box-shadow: 0 0 0 0;
}

.register-label {
    font-size: 0.9rem;
    font-weight: 200;
    display: inline-block;
    width: 100%;
    color: #040f3c;
}

.login-label {
    font-size: 0.9rem;
    font-weight: 200;
    display: inline-block;
    width: 100%;
    color: #040f3c;
}

.submit-sign-group {
    text-align: center;
}

.register-btn {
    width: 15rem;
    border: 1px solid #f43000;
    background-color: #fff;
    border-radius: 2rem;
    padding: 0.5rem 3rem 0.4rem 3rem;
    color: #f43000;
    font-weight: bold;
    transition: transform 80ms ease-in;
    &:hover {
        background-color: #f43000;
        color: #fff;
    }
}

.login-btn {
    width: 15rem;
    border: 1px solid #f43000;
    background-color: #fff;
    border-radius: 2rem;
    padding: 0.5rem 3rem 0.4rem 3rem;
    color: #f43000;
    font-weight: bold;
    transition: transform 80ms ease-in;
    &:hover {
        background-color: #f43000;
        color: #fff;
    }
}

.check-account {
    color: #666b70;
}

.custom-control-label {
    position: relative;
    margin-bottom: 0;
    vertical-align: top;
    font-size: 0.9rem;
    font-weight: 200;
    line-height: 1.9rem;
    color: #000000;
}
.custom-control-label::before {
    position: absolute;
    top: 0.25rem;
    left: -1.5rem;
    display: block;
    width: 1.25rem;
    height: 1.25rem;
    pointer-events: none;
    content: "";
    background-color: #bfc5db;
    border: #adb5bd solid 1px;
}

.custom-control-input:checked~.custom-control-label::before {
    color: #fff;
    border-color: #040f3c;
    background-color: #040f3c;
}

.custom-control-label::after {
    position: absolute;
    top: 0.25rem;
    left: -1.5rem;
    display: block;
    width: 1.25rem;
    height: 1.25rem;
    content: "";
    background: no-repeat 50% / 50% 50%;
}

