@charset "UTF-8";
/* 
@import "../bootstrap/functions";
@import "../bootstrap/variables";
@import "../bootstrap/mixins";

@import "../bootstrap/grid";
@import "../bootstrap/buttons";
@import "../bootstrap/forms";
@import "../bootstrap/custom-forms";
@import "../bootstrap/nav";
@import "../bootstrap/navbar";
@import "../bootstrap/dropdown";
@import "../bootstrap/modal";
@import "../bootstrap/reboot";
@import "../bootstrap/utilities";
@import "../bootstrap/close";
@import "../bootstrap/transitions";
@import "../bootstrap/type";
@import "../bootstrap/tables"; 
*/
/**
 * @author zhixin wen <wenzhixin2010@gmail.com>
 * version: 1.18.0
 * https://github.com/wenzhixin/bootstrap-table/
 */
.bootstrap-table .fixed-table-toolbar::after {
  content: "";
  display: block;
  clear: both; }

.bootstrap-table .fixed-table-toolbar .bs-bars,
.bootstrap-table .fixed-table-toolbar .search,
.bootstrap-table .fixed-table-toolbar .columns {
  position: relative;
  margin-top: 10px;
  margin-bottom: 10px; }

.bootstrap-table .fixed-table-toolbar .columns .btn-group > .btn-group {
  display: inline-block;
  margin-left: -1px !important; }
  .bootstrap-table .fixed-table-toolbar .columns .btn-group > .btn-group > .btn {
    border-radius: 0; }
  .bootstrap-table .fixed-table-toolbar .columns .btn-group > .btn-group:first-child > .btn {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px; }
  .bootstrap-table .fixed-table-toolbar .columns .btn-group > .btn-group:last-child > .btn {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px; }

.bootstrap-table .fixed-table-toolbar .columns .dropdown-menu {
  text-align: left;
  max-height: 300px;
  overflow: auto;
  -ms-overflow-style: scrollbar;
  z-index: 1001; }

.bootstrap-table .fixed-table-toolbar .columns label {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.428571429; }

.bootstrap-table .fixed-table-toolbar .columns-left {
  margin-right: 5px; }

.bootstrap-table .fixed-table-toolbar .columns-right {
  margin-left: 5px; }

.bootstrap-table .fixed-table-toolbar .pull-right .dropdown-menu {
  right: 0;
  left: auto; }

.bootstrap-table .fixed-table-container {
  position: relative;
  clear: both; }
  .bootstrap-table .fixed-table-container .table {
    width: 100%;
    margin-bottom: 0 !important; }
    .bootstrap-table .fixed-table-container .table th,
    .bootstrap-table .fixed-table-container .table td {
      vertical-align: middle;
      box-sizing: border-box; }
    .bootstrap-table .fixed-table-container .table thead th {
      vertical-align: bottom;
      padding: 0;
      margin: 0; }
      .bootstrap-table .fixed-table-container .table thead th:focus {
        outline: 0 solid transparent; }
      .bootstrap-table .fixed-table-container .table thead th.detail {
        width: 30px; }
      .bootstrap-table .fixed-table-container .table thead th .th-inner {
        padding: 0.75rem;
        vertical-align: bottom;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap; }
      .bootstrap-table .fixed-table-container .table thead th .sortable {
        cursor: pointer;
        background-position: right;
        background-repeat: no-repeat;
        padding-right: 30px !important; }
      .bootstrap-table .fixed-table-container .table thead th .both {
        background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAATCAQAAADYWf5HAAAAkElEQVQoz7X QMQ5AQBCF4dWQSJxC5wwax1Cq1e7BAdxD5SL+Tq/QCM1oNiJidwox0355mXnG/DrEtIQ6azioNZQxI0ykPhTQIwhCR+BmBYtlK7kLJYwWCcJA9M4qdrZrd8pPjZWPtOqdRQy320YSV17OatFC4euts6z39GYMKRPCTKY9UnPQ6P+GtMRfGtPnBCiqhAeJPmkqAAAAAElFTkSuQmCC"); }
      .bootstrap-table .fixed-table-container .table thead th .asc {
        background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAATCAYAAAByUDbMAAAAZ0lEQVQ4y2NgGLKgquEuFxBPAGI2ahhWCsS/gDibUoO0gPgxEP8H4ttArEyuQYxAPBdqEAxPBImTY5gjEL9DM+wTENuQahAvEO9DMwiGdwAxOymGJQLxTyD+jgWDxCMZRsEoGAVoAADeemwtPcZI2wAAAABJRU5ErkJggg=="); }
      .bootstrap-table .fixed-table-container .table thead th .desc {
        background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAATCAYAAAByUDbMAAAAZUlEQVQ4y2NgGAWjYBSggaqGu5FA/BOIv2PBIPFEUgxjB+IdQPwfC94HxLykus4GiD+hGfQOiB3J8SojEE9EM2wuSJzcsFMG4ttQgx4DsRalkZENxL+AuJQaMcsGxBOAmGvopk8AVz1sLZgg0bsAAAAASUVORK5CYII= "); }
    .bootstrap-table .fixed-table-container .table tbody tr.selected td {
      background-color: rgba(0, 0, 0, 0.075); }
    .bootstrap-table .fixed-table-container .table tbody tr.no-records-found td {
      text-align: center; }
    .bootstrap-table .fixed-table-container .table tbody tr .card-view {
      display: flex; }
      .bootstrap-table .fixed-table-container .table tbody tr .card-view .card-view-title {
        font-weight: bold;
        display: inline-block;
        min-width: 30%;
        text-align: left !important; }
    .bootstrap-table .fixed-table-container .table .bs-checkbox {
      text-align: center; }
      .bootstrap-table .fixed-table-container .table .bs-checkbox label {
        margin-bottom: 0; }
        .bootstrap-table .fixed-table-container .table .bs-checkbox label input[type="radio"],
        .bootstrap-table .fixed-table-container .table .bs-checkbox label input[type="checkbox"] {
          margin: 0 auto !important; }
    .bootstrap-table .fixed-table-container .table.table-sm .th-inner {
      padding: 0.3rem; }
  .bootstrap-table .fixed-table-container.fixed-height:not(.has-footer) {
    border-bottom: 1px solid #000000; }
  .bootstrap-table .fixed-table-container.fixed-height.has-card-view {
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000; }
  .bootstrap-table .fixed-table-container.fixed-height .fixed-table-border {
    border-left: 1px solid #000000;
    border-right: 1px solid #000000; }
  .bootstrap-table .fixed-table-container.fixed-height .table thead th {
    border-bottom: 1px solid #000000; }
  .bootstrap-table .fixed-table-container.fixed-height .table-dark thead th {
    border-bottom: 1px solid #32383e; }
  .bootstrap-table .fixed-table-container .fixed-table-header {
    overflow: hidden; }
  .bootstrap-table .fixed-table-container .fixed-table-body {
    overflow-x: auto;
    overflow-y: auto;
    height: 100%; }
    .bootstrap-table .fixed-table-container .fixed-table-body .fixed-table-loading {
      align-items: center;
      background: #fff;
      display: flex;
      justify-content: center;
      position: absolute;
      bottom: 0;
      width: 100%;
      z-index: 1000;
      transition: visibility 0s, opacity 0.15s ease-in-out;
      opacity: 0;
      visibility: hidden; }
      .bootstrap-table .fixed-table-container .fixed-table-body .fixed-table-loading.open {
        visibility: visible;
        opacity: 1; }
      .bootstrap-table .fixed-table-container .fixed-table-body .fixed-table-loading .loading-wrap {
        align-items: baseline;
        display: flex;
        justify-content: center; }
        .bootstrap-table .fixed-table-container .fixed-table-body .fixed-table-loading .loading-wrap .loading-text {
          margin-right: 6px; }
        .bootstrap-table .fixed-table-container .fixed-table-body .fixed-table-loading .loading-wrap .animation-wrap {
          align-items: center;
          display: flex;
          justify-content: center; }
        .bootstrap-table .fixed-table-container .fixed-table-body .fixed-table-loading .loading-wrap .animation-dot,
        .bootstrap-table .fixed-table-container .fixed-table-body .fixed-table-loading .loading-wrap .animation-wrap::after,
        .bootstrap-table .fixed-table-container .fixed-table-body .fixed-table-loading .loading-wrap .animation-wrap::before {
          content: "";
          animation-duration: 1.5s;
          animation-iteration-count: infinite;
          animation-name: LOADING;
          background: #212529;
          border-radius: 50%;
          display: block;
          height: 5px;
          margin: 0 4px;
          opacity: 0;
          width: 5px; }
        .bootstrap-table .fixed-table-container .fixed-table-body .fixed-table-loading .loading-wrap .animation-dot {
          animation-delay: 0.3s; }
        .bootstrap-table .fixed-table-container .fixed-table-body .fixed-table-loading .loading-wrap .animation-wrap::after {
          animation-delay: 0.6s; }
      .bootstrap-table .fixed-table-container .fixed-table-body .fixed-table-loading.table-dark {
        background: #212529; }
        .bootstrap-table .fixed-table-container .fixed-table-body .fixed-table-loading.table-dark .animation-dot,
        .bootstrap-table .fixed-table-container .fixed-table-body .fixed-table-loading.table-dark .animation-wrap::after,
        .bootstrap-table .fixed-table-container .fixed-table-body .fixed-table-loading.table-dark .animation-wrap::before {
          background: #fff; }
  .bootstrap-table .fixed-table-container .fixed-table-footer {
    overflow: hidden; }

.bootstrap-table .fixed-table-pagination::after {
  content: "";
  display: block;
  clear: both; }

.bootstrap-table .fixed-table-pagination > .pagination-detail,
.bootstrap-table .fixed-table-pagination > .pagination {
  margin-top: 10px;
  margin-bottom: 10px; }

.bootstrap-table .fixed-table-pagination > .pagination-detail .pagination-info {
  line-height: 34px;
  margin-right: 5px; }

.bootstrap-table .fixed-table-pagination > .pagination-detail .page-list {
  display: inline-block; }
  .bootstrap-table .fixed-table-pagination > .pagination-detail .page-list .btn-group {
    position: relative;
    display: inline-block;
    vertical-align: middle; }
    .bootstrap-table .fixed-table-pagination > .pagination-detail .page-list .btn-group .dropdown-menu {
      margin-bottom: 0; }

.bootstrap-table .fixed-table-pagination > .pagination ul.pagination {
  margin: 0; }
  .bootstrap-table .fixed-table-pagination > .pagination ul.pagination a {
    padding: 6px 12px;
    line-height: 1.428571429; }
  .bootstrap-table .fixed-table-pagination > .pagination ul.pagination li.page-intermediate a {
    color: #c8c8c8; }
    .bootstrap-table .fixed-table-pagination > .pagination ul.pagination li.page-intermediate a::before {
      content: '\2B05'; }
    .bootstrap-table .fixed-table-pagination > .pagination ul.pagination li.page-intermediate a::after {
      content: '\27A1'; }
  .bootstrap-table .fixed-table-pagination > .pagination ul.pagination li.disabled a {
    pointer-events: none;
    cursor: default; }

.bootstrap-table.fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  width: 100% !important;
  background: #fff;
  height: calc(100vh);
  overflow-y: scroll; }

/* calculate scrollbar width */
div.fixed-table-scroll-inner {
  width: 100%;
  height: 200px; }

div.fixed-table-scroll-outer {
  top: 0;
  left: 0;
  visibility: hidden;
  width: 200px;
  height: 150px;
  overflow: hidden; }

@keyframes LOADING {
  0% {
    opacity: 0; }
  50% {
    opacity: 1; }
  to {
    opacity: 0; } }

/**
 * @author: Dennis Hernández
 * @webSite: http://djhvscf.github.io/Blog
 * @version: v2.1.1
 */
.no-filter-control {
  height: 34px; }

.filter-control {
  margin: 0 2px 2px 2px; }

.content-container {
  height: 100vh;
  transition: 0.4s;
  margin-left: 20rem;
  padding-top: 2.2rem;
  overflow-x: hidden; }

.inactive-container {
  margin-left: 4rem !important; }

.container-fluid {
  height: 100vh; }

.container {
  padding: 1rem 0rem; }

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 400px; }
    .modal-dialog .modal-content {
      padding: 1rem; } }

.modal-header .close {
  margin-top: -1.5rem; }

.form-title {
  margin: -2rem 0rem 2rem; }

.btn-round {
  border-radius: 3rem; }

.delimiter {
  padding: 1rem; }

.social-buttons .btn {
  margin: 0 0.5rem 1rem; }

.signup-section {
  padding: 0.3rem 0rem; }

.form-inline {
  padding-left: 1rem; }

.custom-file-input:hover {
  cursor: pointer; }

header {
  display: inline-block;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 999; }

.navbar {
  width: 20rem;
  height: 100vh;
  position: fixed !important;
  margin-left: 0px;
  background-color: #040f3c;
  transition: 0.4s; }

.brand {
  color: #fff;
  padding-top: 0.5rem;
  padding-left: 1rem; }

.nav-link,
.nav-link:active,
.nav-link:hover {
  font-size: 1.35rem;
  font-weight: 200;
  padding: 0.75rem 1rem;
  color: #fff; }

.nav-item.active,
.nav-item:active,
.nav-item:focus,
.nav-item:hover {
  border-right: 5px solid #fff;
  background-color: #f43000; }

.banner {
  background-color: #fcf5eb;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  width: 100%;
  height: 2.3rem; }

.banner .navbar-nav .nav-link {
  color: white;
  padding: 0.2rem 0.7rem 0rem 0.7rem; }

.banner .navbar-nav .login-item .nav-link {
  color: #040f3c;
  font-size: 1.25rem; }

.banner .navbar-nav .login-item.active .nav-link,
.banner .navbar-nav .login-item:hover .nav-link {
  color: #ffffff;
  background-color: #040f3c; }

.banner .navbar-nav .login-text {
  color: #040f3c;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  font-size: 0.75rem;
  padding: 0.5rem 0.7rem 0rem 0.7rem; }

#profile-btn {
  padding: 0.2rem 0.7rem 0rem 0.7rem !important;
  color: #040f3c; }

.toggle-sidebar {
  margin-right: 0.25rem;
  margin-top: 0.5rem; }

#fold-sidebar,
#unfold-sidebar {
  background-color: #fcf5eb;
  color: #040f3c;
  transform: rotate(90deg);
  padding: 5px 5px 5px 5px !important;
  line-height: 0px;
  border-radius: 50%; }

#fold-navbar:hover {
  box-shadow: 0 0 0 0.25rem #d1cac1; }

.inactive-sidebar {
  margin-left: -16rem; }

.signup-form {
  background: #333333;
  background: linear-gradient(270deg, #333333 0%, #555555 100%);
  border-radius: 0;
  box-shadow: 0 2px 15px 4px rgba(152, 162, 179, 0.7), 0 1px 5px -2px rgba(152, 162, 179, 0.3);
  width: 35rem; }

.login-form {
  background: #333333;
  background: linear-gradient(270deg, #333333 0%, #555555 100%);
  border-radius: 0;
  box-shadow: 0 2px 15px 4px rgba(152, 162, 179, 0.7), 0 1px 5px -2px rgba(152, 162, 179, 0.3);
  width: 35rem; }

.register-label {
  font-size: 1.2rem;
  font-weight: 200;
  display: inline-block;
  width: 100%;
  color: #fff; }

.login-label {
  font-size: 1.2rem;
  font-weight: 200;
  display: inline-block;
  width: 100%;
  color: #fff; }

.register-btn {
  border: 1px solid #ff5500;
  background-color: #fff;
  border-radius: 2rem;
  padding: 0.5rem 3rem 0.4rem 3rem;
  color: #ff5500;
  font-weight: bold;
  transition: transform 80ms ease-in;
  box-shadow: 0 2px 4px 4px rgba(46, 50, 58, 0.3), 0 1px 5px -2px rgba(25, 36, 56, 0.3); }
  .register-btn:hover {
    background-color: #ff5500;
    color: #fff; }

.login-btn {
  border: 1px solid #ff5500;
  background-color: #fff;
  border-radius: 2rem;
  padding: 0.5rem 3rem 0.4rem 3rem;
  color: #ff5500;
  font-weight: bold;
  transition: transform 80ms ease-in;
  box-shadow: 0 2px 4px 4px rgba(46, 50, 58, 0.3), 0 1px 5px -2px rgba(25, 36, 56, 0.3); }
  .login-btn:hover {
    background-color: #ff5500;
    color: #fff; }

.check-account {
  color: #acb4bb; }

.form-control {
  border-radius: 0.1rem !important; }

.custom-control-label {
  position: relative;
  margin-bottom: 0;
  vertical-align: top;
  font-size: 1rem;
  font-weight: 200;
  line-height: 1.9rem;
  color: #fff; }

.custom-control-label::before {
  position: absolute;
  top: 0.25rem;
  left: -1.5rem;
  display: block;
  width: 1.25rem;
  height: 1.25rem;
  pointer-events: none;
  content: "";
  background-color: #fff;
  border: #adb5bd solid 1px; }

.custom-control-label::after {
  position: absolute;
  top: 0.25rem;
  left: -1.5rem;
  display: block;
  width: 1.25rem;
  height: 1.25rem;
  content: "";
  background: no-repeat 50% / 50% 50%; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  display: none;
  font-family: Arial, Helvetica, sans-serif !important;
  min-height: 100vh;
  background-color: #fff; }
