{% extends "base/base.html" %}
{% set active_page = "menu9" %}
{% block title %}Upload{% endblock %}
{% block main %}

<script src="/static/js/graph_interaction/graph_list_filter.js"></script>
<h1 style="margin-bottom: 10px;">Select which maps you want to visualize</h1>
<h5 style="margin-bottom: 10px;">(use the 'multigraph visualization' buttons if you want to plot more than one map at a time)</h5>
<div style="width: 75%; float:left;">
    <ol style="list-style-type: none;" id="graph_list">
        {% for name, id in CU_files %} 
        <li>
            <hr>
            <h2 style="text-transform: capitalize;">{{name}}</h2>
            <div class="single_graph_button">
                <a href={{url_for('graphs', sheet=id, mode="hierarchies")}}>
                    <button type="button" class="btn btn-primary" style="margin:5px;">visualize the hierarchical relations</button>
                </a>
                <a href={{url_for('graphs', sheet=id, mode="relations")}}>
                    <button type="button" class="btn btn-primary" style="margin:5px;">visualize the logical relations</button>
                </a>
            </div>

            <button type="button" class="btn btn-primary multi_relation_graph_button" style="margin:5px; display:none;" onclick="add_course_to_graph_list('{{name}}', '{{id}}')">include the logical relations of this map</button>
   
            <button type="button" class="btn btn-primary multi_hierarchies_graph_button" style="margin:5px; display:none;" onclick="add_course_to_graph_list('{{name}}', '{{id}}')">include the hierarchies relations of this map</button>

            <form action="/graph_list" method="POST">
                <button type="submit" name="delete_button" value="{{id}}" style="margin:5px; margin-bottom:30px;" class="btn btn-secondary">delete this map from the database</button>
            </form>

            <hr>
        </li>
        {% endfor %}
        </ol>
</div>
<div style="width:20%; float:left;">
    <div style="width: 100%; float:right;">
        <input style="float:left;" type="text" id="graph_list_searchbar" onkeyup="graph_list_filter()" placeholder="Search for specific maps"> 
    </div>
    

    <div style="width:100%; float: right; margin-top: 30%;">
        <h5>Multigraph visualization</h5>
        <input type="button" id="select_multigraph_hierarchy" value="visualize the hierarchical relations" onclick="switch_to_multigraph_interface('multi_hierarchies_graph_button')" class="btn btn-primary"> 
        <input type="button" id="select_multigraph_relations" value="visualize the logical relations" onclick="switch_to_multigraph_interface('multi_relation_graph_button')" class="btn btn-primary"> 
        <div style="margin-top: 20%;">

            <h5>List of which maps will be visualized simultaneously:</h5>
            <hr>
            <ol style="list-style-type: none;" id="multigraph_list"> 
                
            </ol>
                <input type="button" id="submit_multigraph" value="press here when ready" onclick="display_multi_graph()" class="btn btn-primary">
        </div>

    </div>
</div>


{% endblock %}
