{% extends "base/base.html" %}
{% set active_page = "menu11" %}
{% block title %}Workshops{% endblock %}
{% block main %}

<h1>Workshops</h1>

<hr>
<div class="infoblock">
<div class="blockcontent">
<p>
<h4>September 23rd, 2021, 13:00 to 15:00 CET</h4>
Online, focusing on:
<ul>
  <li>discussing the students' and teachers' perceptions relative to the first month of the NTNU ITK Autumn 2021 pilot,</li>
  <li>discussing the perceptions of other users from institutions not involved in the pilot above,</li>
  <li>reviewing the 6-months-ahead plans for the development of the portal,</li>
  <li>reviewing the plans of the coming pilots at the partners institutions.</li>
</ul>
To get the link to the meeting send a request to damiano.varagnolo@ntnu.no.
</p>
</div>
</div>

{% endblock %}
