/* 
@import "../bootstrap/functions";
@import "../bootstrap/variables";
@import "../bootstrap/mixins";

@import "../bootstrap/grid";
@import "../bootstrap/buttons";
@import "../bootstrap/forms";
@import "../bootstrap/custom-forms";
@import "../bootstrap/nav";
@import "../bootstrap/navbar";
@import "../bootstrap/dropdown";
@import "../bootstrap/modal";
@import "../bootstrap/reboot";
@import "../bootstrap/utilities";
@import "../bootstrap/close";
@import "../bootstrap/transitions";
@import "../bootstrap/type";
@import "../bootstrap/tables"; 
*/
@import "bootstrap-table/bootstrap-table.scss";
@import "bootstrap-table/extension/bootstrap-table-filter-control.scss";

@import "custom/custom";
@import "custom/header";
@import "custom/registerlogin";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif !important;
    min-height: 100vh;
    background-color: #fff;
}
