<nav class="navbar bg-primary navbar-icon-top navbar-expand flex-column flex-md-row p-0 shadow navbar-custom fixed-top">
    <a class="navbar-brand col-md-2 mr-0" href="#">.#.</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item {{ 'active' if active_page == 'menu1' else '' }}">
                <a class="nav-link" href="{{url_for('index') }}"> Home </a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Dropdown
                </a> 
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item"
                        href="https://drive.google.com/file/d/13ihYK6Zo7YwZflL0-PC7RQXXmSEJm2uV/view?usp=sharing">manual</a>
                </div>
            </li>
        </ul>
        <ul class="navbar-nav">
            <button id="profile-btn" class="btn">
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                    class="bi bi-person-circle" viewBox="0 0 16 16">
                    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                    <path fill-rule="evenodd"
                        d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
                </svg>
            </button>
        </ul>
        <ul class="navbar-nav">
            {% if session['logged_in'] %}
            <li class="nav-item">
                <p class="login-text">You are currently logged in.</p>
            </li>
            <li class="nav-item login-item">
                <a href="/logout" class="nav-link"> Sign Out </a>
            </li>
            {% else %}
            <li class="nav-item login-item {{ 'active' if active_page == 'menu3' else '' }}">
                <a class="nav-link" href="{{url_for('login') }}"> Login </a>
            </li>
            <li class="nav-item login-item {{ 'active' if active_page == 'menu4' else '' }}">
                <a class="nav-link" href="{{url_for('register') }}"> Register </a>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>